---
title: "Cloud Native"
layout: splash
permalink: /
date: 2018-06-09
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash.jpg
  caption:
excerpt: "All you wanted to know about cloud but were afraid to ask."
about_us:
  - image_path: /assets/images/community.jpg
    image_caption: Photo by rawpixel on Unsplash
    title: O nás
    excerpt: "We are a group full of enthusiats and users of cloud technologies and their application in all meaningful ways. We have founded this group with the intention to find similar-minded people in Czech republic. Secretly we have hoped that someone already done this. Noone did, so we are here! Join us in building the best community with intentions to help and share others to find their way into the clouds.

    Our goal is to build Czech community for sharing practical experiences and knowledge around cloud technologies"
---

{% include feature_row id="about_us" type="right" %}

{% include author_row %}