---
title: "Cloud Native"
layout: splash
permalink: /
date: 2018-06-09
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/splash.jpg
  caption:
excerpt: "Vše co jste chtěli vědět o cloudu a báli jste se zeptat."
about_us:
  - image_path: /assets/images/community.jpg
    image_caption: Photo by rawpixel on Unsplash
    title: O nás
    excerpt: "Jsme skupina plná nadšenců do cloudových technologií a jejich aplikací všude tam kde dávají smysl.
    Vznikli jsme z touhy mít přesně takovou skupinu v ČR. Tajně jsme doufali, že to udělá někdo jiný.
    Nestalo se a tak jsme zde. Pomozte nám vybudovat tu nejlepší komunitu s chutí si navzájem pomáhat.

    Naše mise je vybudovat českou komunitu, která si bude navzájem předávat zkušenosti a praktické dovednosti z cloudových aplikací."
---

{% include feature_row id="about_us" type="right" %}

{% include author_row %}