/* ==========================================================================
   SIDEBAR
   ========================================================================== */

/*
   Default
   ========================================================================== */

.sidebar {
  @include clearfix();
  margin-bottom: 1em;

  @include breakpoint(max-width $large) {
    /* fix z-index order of follow links */
    position: relative;
    z-index: 10;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  @include breakpoint($large) {
    float: left;
    width: calc(#{$right-sidebar-width-narrow} - 1em);
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.sticky {
      overflow-y: auto;
      /* calculate height of nav list */
      height: calc(
        100vh - 90px - 2em
      ); // viewport height - approx. masthead height - main content top margin
    }
  }

  @include breakpoint($x-large) {
    width: calc(#{$right-sidebar-width} - 1em);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    font-family: $sans-serif-narrow;
  }

  p,
  li {
    font-family: $sans-serif;
    font-size: $type-size-6;
    line-height: 1.5;
  }

  img {
    width: 100%;
  }
}

.sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: absolute;
    top: 0;
    right: 0;
    width: $right-sidebar-width-narrow;
    margin-right: -1 * $right-sidebar-width-narrow;
    padding-left: 1em;
    z-index: 10;

    &.sticky {
      @include clearfix();
      position: -webkit-sticky;
      position: sticky;
      top: 2em;
      float: right;
    }
  }

  @include breakpoint($x-large) {
    width: $right-sidebar-width;
    margin-right: -1 * $right-sidebar-width;
  }
}

.splash .sidebar__right {
  @include breakpoint($large) {
    position: relative;
    float: right;
    margin-right: 0;
  }

  @include breakpoint($x-large) {
    margin-right: 0;
  }
}

/*
   Author profile and links
   ========================================================================== */

.author-box {
  position: relative;
  // display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 200px;
  max-width: 230px;
  min-height: 350px;
  max-height: 350px;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  // font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

  @include breakpoint($large) {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  figcaption {
    padding: 3% 3% 3%;
  }

  h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
  }

  h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
  }

  .icons {
    color: #999;
    display: inline-block;
    margin-right: 5px;
    font-size: 1.5em;
  }

  .icons i:hover {
    color: #555;
  }

  .icons i a {
    text-decoration: none;
  }

}

.author-box .profile-image {
  padding: 3% 0% 0;

  img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    border-radius: 50%;
    max-width: 60%;

    @include breakpoint($large) {
      padding: 3px;
    }

  }
}













/*
   Wide Pages
   ========================================================================== */

.wide .sidebar__right {
  margin-bottom: 1em;

  @include breakpoint($large) {
    position: initial;
    top: initial;
    right: initial;
    width: initial;
    margin-right: initial;
    padding-left: initial;
    z-index: initial;

    &.sticky {
      float: none;
    }
  }

  @include breakpoint($x-large) {
    width: initial;
    margin-right: initial;
  }
}

